/* Basic Layout Stuff */

body {
    background-color: #2c3034;
}

.container {
    padding-bottom: 5em;
}

#content {
    padding-top: 5em
}

#content h1 {
    color: white;
}

#content p {
    color : #b2c2e2;
}

/* About Me */

#profile {
    border-radius: 1em;
}

/* Cards */

.custom-card {
    position: relative;
    overflow: hidden;
    color: white;
    padding: 0;
    transition: 300ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background-color: #0f5132;
    border-radius: 1em;
}

.custom-card .custom-card-img {
    width: 100%;
    transition: 300ms;
    background-color: #0dcaf0;
}

.custom-card .custom-card-body {
    padding: 1em 1em 0.25em 1em;
    min-height: 160px;
    font-size: 80%;
    transition: 300ms;
}

.custom-card .custom-card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    transition: 300ms;
    z-index: -1;
}

.custom-card:hover {
    cursor: pointer;
    transition: 300ms;
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.custom-card:hover .custom-card-img {
    transition: transform 300ms;
    transform: scale(1.15)
}

.custom-card:hover .custom-card-body {
    transition: 300ms;
    transform: translateY(-50px);
}

.custom-card:hover .custom-card-link {
    transition: 300ms;
    transform: translateY(-100%);
}

/* Timeline */

.timeline {
    border-left: 0.5em solid white;
    padding-left: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.timeline-top {
    margin-left: -4.75em;
    margin-top: -6.5em;
    background: white;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.timeline-event {
    margin-top: 4em;
    margin-bottom: 4em;
}

.timeline-event h3 {
    color: #0dcaf0;
    margin-bottom: 0;
}

.timeline-event h4 {
    color: white;
}

.timeline-event strong {
    color: #b2c2e2;
}

.timeline-point {
    position: absolute;
    margin-left: -4.25em;
    margin-top: 0.75em;
    background: #2c3034;
    border: 5px solid white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.timeline-bottom {
    margin-left: -4.75em;
    margin-bottom: -6.5em;
    background: white;
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

/* Contact */

#contact a {
    color: #0dcaf0;
    text-decoration: none;
    transition: 300ms;
}

#contact a:hover {
    transition: 300ms;
    transform: scale(1.25);
}