.projectCard {
    .projectCardDescription {
        margin-top: 1rem;
    }

    .projectCardLinks {
        bottom: -5rem;
    }
}

.projectCard:hover, .projectCard:focus, .projectCard:active {
    .project-card-image {
        transform: scale(105%);
    }

    .projectCardDescription {
        margin-top: 0;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .projectCardLinks {
        bottom: -1rem;
    }
}