@import './tokens';

.TimelineContainer {
    position: relative;
    display: flex;
    gap: $gap;
    width: 100%;
    margin-bottom: $gap-sm;
    margin-top: $gap-sm;

    &.right {
        justify-content: flex-end;
    }

    &.center {
        justify-content: center;
    }
}


