.timeline {
    width: 19.125rem;

    > .timelineContent > * {
        display: none;
    }

    > .timelineContent {
        > .timelineEvent {
            display: initial;
            align-self: flex-end;
            text-align: left;

            > .timelineEventPoint {
                left: -4.625rem;
            }

            > .timelineEventArrow {
                left: -15px;
                border-right-width: 15px;
            }
        }

        > .timelineEvent:hover, .timelineEvent:focus, .timelineEvent:active {
            .timelineEventBody {
                max-height: 28rem !important;

                .truncate {
                    white-space: pre-wrap !important;
                }
            }
        }
    }
}

/* md */
@media (min-width: 768px) {
    .timeline {
        width: 23.125rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .timeline {
        width: 54rem;

        > .timelineContent > .timelineEvent:nth-of-type(odd) {
            align-self: flex-start;
            text-align: right;

            > .timelineEventPoint {
                left: initial;
                right: -4.625rem;
            }

            > .timelineEventArrow {
                left: initial;
                right: -15px;
                border-right-width: 0;
                border-left-width: 15px;
            }
        }
    }
}