.timeline {
    width: 19.125rem;

    > .timeline-content > * {
        display: none;
    }

    > .timeline-content > .timeline-event {
        display: initial;
        align-self: flex-end;
        text-align: left;

        > .timeline-event-point {
            left: -4.625rem;
        }

        > .timeline-event-arrow {
            left: -15px;
            border-right-width: 15px;
        }

        &:hover, &:focus, &:active {
            .timeline-event-body {
                max-height: 28rem !important;

                .truncate {
                    white-space: pre-wrap !important;
                }
            }
        }
    }
}

/* md */
@media (min-width: 768px) {
    .timeline {
        width: 23.125rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .timeline {
        width: 54rem;

        > .timeline-content > .timeline-event:nth-of-type(odd) {
            align-self: flex-start;
            text-align: right;

            > .timeline-event-point {
                left: initial;
                right: -4.625rem;
            }

            > .timeline-event-arrow {
                left: initial;
                right: -15px;
                border-right-width: 0;
                border-left-width: 15px;
            }
        }
    }
}