.Timeline {
    border-left: 0.5em solid white;
    padding-left: 3em;
    padding-top: 5em;
    padding-bottom: 5em;

    .TimelineEdge {
        margin-left: -4.75em;
        background: white;
        border-radius: 50%;
        width: 3em;
        height: 3em;
    }

    .TimelineTop {
        margin-top: -6.5em;
    }

    .TimelineBottom {
        margin-bottom: -6.5em;
    }
}

.TimelineEvent {
    transition: 250ms;
    margin-top: 4em;
    margin-bottom: 4em;

    .TimelineContent {
        transition: 250ms;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
        border-radius: 1rem;
        padding: 1rem;
        max-width: fit-content;
        min-width: 250px;
        height: 130px;
        overflow: hidden;
        position: relative;

        strong {
            color: #b2c2e2;
        }

        .TimelineHiddenContent {
            position: absolute;
            margin-top: 1em;

            .TimelineSkills {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                & > svg {
                    flex-shrink: 0;
                }
            }
        }
    }

    &.hovered {
        .TimelineContent {
            height: 200px;
            .TimelineHiddenContent {
                position: relative;
            }
        }
    }

    @media (max-width: 425px) {
        .TimelineContent {
            height: auto;

            .TimelineSkills {
                flex-shrink: 0;
            }
        }

        &.hovered .TimelineContent {
            height: auto;
        }
    }
}

.TimelinePoint {
    position: absolute;
    margin-left: -4.25em;
    margin-top: 0.75em;
    background: #2c3034;
    border: 5px solid white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.TimelineLine {
    position: absolute;
    margin-left: -4.25em;
    margin-top: 1.5625em;
    border: 3px solid white;
    width: 8em;
    border-radius: 1em;
    z-index: -1;
}
