.KofiBtnContainer {
    display:inline-block;
    white-space:nowrap;
}

.KofiButton {
    display: flex;
    flex-direction: column;
}

.KofiImg {
    display: initial;
    vertical-align:middle;
    height: 13px;
    width:20px;
    margin-top: -2px;
    margin-left: 4px;
    margin-right: 4px;
    border:none;
    content:url('https://storage.ko-fi.com/cdn/cup-border.png');
    animation: kofi-wiggle 3s infinite;
}

.KofiImg:after{
    vertical-align:middle;
    height:25px;
    border:none;
    content:url('https://storage.ko-fi.com/cdn/whitelogo.svg')
}

.KofiText {
    color:#fff;
    letter-spacing: -0.15px;
    text-wrap:none;
    vertical-align:middle;
    line-height:33px;
    text-align:center;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}
a.KofiButton {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    line-height:36px;
    min-width:150px;
    background-color:#29abe0;
    text-align:center;
    border-radius:7px;
    color:#fff;
    cursor:pointer;
    overflow-wrap:break-word;
    vertical-align:middle;
    border:0 none #fff;
    font-family:'Quicksand',Helvetica,Century Gothic,sans-serif !important;
    text-decoration:none;
    text-shadow:none;
    font-weight:700;
    font-size:14px;
}
a.KofiButton:visited{
    color:#fff;
    text-decoration:none;
}
a.KofiButton:hover{
    opacity:.85;
    color:#f5f5f5;
    text-decoration:none;
}
a.KofiButton:active{
    color:#f5f5f5;
    text-decoration:none;
}

@keyframes kofi-wiggle {
    0%{
        transform:rotate(0) scale(1)
    }
    60%{
        transform:rotate(0) scale(1)
    }
    75%{
        transform:rotate(0) scale(1.12)
    }
    80%{
        transform:rotate(0) scale(1.1)
    }
    84%{
        transform:rotate(-10deg) scale(1.1)
    }
    88%{
        transform:rotate(10deg) scale(1.1)
    }
    92%{
        transform:rotate(-10deg) scale(1.1)
    }
    96%{
        transform:rotate(10deg) scale(1.1)
    }
    100%{
        transform:rotate(0) scale(1)
    }
}